.main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mainText h1 {
	font-family: Fira Sans;
	font-size: 72px;
	font-weight: 700;
	line-height: 74px;
	letter-spacing: 0em;
}
.mainText h6 {
	font-family: Fira Sans;
	font-size: 36px;
	margin: 15px 0;
	font-weight: 500;
	line-height: 58px;
	letter-spacing: 0em;
	text-align: left;
}
.mainText button {
	width: 182px;
	box-shadow: -10px 20px 40px 0px #ec000029;

	height: 50px;
	padding: 10px, 24px, 11px, 24px;
	border-radius: 25px;
	background: red;
	gap: 10px;
	color: white;
	font-family: Fira Sans;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;
}
.mainImage {
	position: relative;
	margin-right: 16pc;
}

.img2 {
	position: absolute;
	z-index: -1;
}

.img3 {
	position: relative;
}
